body {
  font-family: "Goudy Bookletter 1911", serif;
  background-color: #f6e0ab;
  margin: 0;
  padding: 0;
}

input {
  margin-left: 5px;
}

h1{
  font-size: xxx-large;
  text-align: center;
  margin-bottom: 50px;
  text-decoration: underline;
  color: brown;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
h2 {
  font-size: xx-large;
  text-align: center;
  margin-top: 100px;
  text-decoration: underline;
  color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
h3 {
  margin-top: 5px;
}

#logo-image {
  width: 30px;
  margin-right: 10px;
}

/* products */

.book-preview {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 0;
  padding: 0;
  width: 95%;
}

.book-preview li {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 23%;
  text-align: center;
}

.book-preview p {
  margin-top: 0;
}

.book-preview img {
  width: 250px;
}

/* SINGLE BOOK */

.single-book {
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  margin-top: 25px;
}

.info {
  width: 35%;
}
.book-cover {
  width: 55%;
}

.book-cover img {
  height: 600px;
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* Account */

.account-info p {
  margin: 3px;
}

.account-info,
button,
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.account-info {
  width: 90%;
}

form label {
  margin: 5px;
}

/* Search */

#search-results,
.search-bar,
.account-section,
.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 90%; */
}

#search-results li,
#search-results div,
#search-results div ul,
#search-results div p,
.product-section,
.account-info ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#search-results div ul li{
  border: black 5px solid;
margin: 5px;
padding: 5px;
height: 600px;


}

#search-results li {
  width: 300px;
  background-color: antiquewhite;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  
}

/* #search-results li a {
  width: 200px;
} */

#search-results li a img {
  width: 100%;
  max-height: 400px;
}


/* Add your own custom styles here */

@media (max-width: 1250px) {
  .book-preview li {
    width: 33%;
  }
}

@media (max-width: 850px) {
  .book-preview li {
    width: 43%;
  }
}

@media (max-width: 600px) {
  .book-preview li {
    width: 80%;
  }
}

